{% extends app.request.xmlHttpRequest
? 'AppBundle::ajax-base.html.twig'
: 'AppBundle::base.html.twig'%}

{% block body %}
    <div class="container">
        <div class="well bootable boot-start">
            <h1>Herzlich Willkommen</h1>
            <p>Ich begrüsse euch herzlich zu meiner Heimautomatisierungssoftware.</p>
        </div>
    </div>
{% endblock %}
